<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - TAR UC ITP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-links">
                <a href="/redirecthome" class="navbar-link">Home</a>
                <div class="spacer"></div> <!-- Add a spacer between the links -->
                <div id="itenMenu" class="navbar-collapse collapse navbar-right"
                    style="display:inline-block; vertical-align: top;">
                    <a href="/redirectlogin" class="navbar-link">Student Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container body-content">



    <div class="jumbotron row">

        <div class="col-md-4">
            <img src="{{ url_for('static', filename='download.png') }}" />
        </div>

        <div class="col-md-8">
            <h2>TAR UC ITP</h2>
            <p class="lead">This System is used to generate Appointment Confirmation Letter for each individual student
            </p>
        </div>

    </div>

    <div class="row">
        <div>
            <h2>BAIT305C/AMIT3205 Industrial Training Programme</h2>
            <p>
                <b>Industrial Training</b> is a compulsory programme that open doors for internship essentials.
                The programme focuses on student internship attachment, as evidence of work capabilities such as
                expanding professional network,
                social values, work quality and ethics.
            </p>
        </div>
    </div>


    <hr />
    <footer>
        <p>&copy; 2023 - TAR UC ITP</p>
    </footer>
</div>

</body>

</html>