<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - TAR UC ITP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content.css') }}">

    <script>
        window.onload = function () {
            // Make an AJAX request to fetch student data
            var studentId = 123456; // Replace with the actual student ID
            fetch('/fetchdata/' + studentId)
                .then(response => response.json())
                .then(data => {
                    // Populate the hidden form fields with fetched data
                    document.getElementById("cohort").value = data.cohort;
                    document.getElementById("Intern_Period").value = data.intern_period;
                    document.getElementById("applyStatus").value = data.status;
                    document.getElementById("remark").value = data.remark;
                    document.getElementById("studentName").value = data.student_name;
                    document.getElementById("studentId").value = data.student_id;
                    document.getElementById("nric").value = data.student_NRIC;
                    document.getElementById("gender").value = data.student_gender;
                    document.getElementById("programme").value = data.programme;
                    document.getElementById("studentEmail").value = data.student_email;
                    document.getElementById("contactNo").value = data.mobile_number;
                });
        };
    </script>

</head>


<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-links">
                    <a href="#" class="navbar-link">Home</a>
                    <div class="spacer"></div> <!-- Add a spacer between the links -->
                    <a href="#" class="navbar-link">Logout</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        <h2>Welcome :</h2>
        <br>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"> Summary </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="cohort">Cohort</label>
                        <div class="col-md-10">
                            <input id="cohort" name="cohort" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="cohort"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Intern_Period">Intern Period</label>
                        <div class="col-md-10">
                            <input id="Intern_Period" name="Intern_Period" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="cohort"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="applyStatus">Status</label>
                        <div class="col-md-10">
                            <input id="applyStatus" name="applyStatus" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="applyStatus"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="remark">Remark</label>
                        <div class="col-md-10 important-text">
                            <input id="remark" name="remark" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="remark"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Student Detail</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="studentName">Student Name</label>
                        <div class="col-md-10">
                            <input id="studentName" name="studentName" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="studentName"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="studentId">Student ID</label>
                        <div class="col-md-10">
                            <input id="studentId" name="studentId" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="studentId"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="nric">NRIC No.</label>
                        <div class="col-md-10">
                            <input id="nric" name="nric" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="nric"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="gender">Gender</label>
                        <div class="col-md-10">
                            <input id="gender" name="gender" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="gender"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="programme">Programme</label>
                        <div class="col-md-10">
                            <input id="programme" name="programme" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="programme"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="studentEmail">Student Email</label>
                        <div class="col-md-10">
                            <input id="studentEmail" name="studentEmail" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="studentEmail"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="contactNo">Mobile Number</label>
                        <div class="col-md-10">
                            <input id="contactNo" name="contactNo" type="hidden" value="" />
                            <span class="message"></span>
                            <span class="field-validation-valid text-danger" data-valmsg-for="contactNo"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">UC Supervisor</div>
                <div class="panel-body">

                    <div class="form-group" id="updateStatusMsg" hidden>
                        <span class="col-md-offset-2 col-md-10">
                            <i class="text-info">Saving data...</i>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ucSupervisor">UC Supervisor Name</label>
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="ucSupervisor" name="ucSupervisor"
                                    type="text" value="" />
                                <span class="messages"></span>
                                <span class="field-validation-valid text-danger" data-valmsg-for="ucSupervisor"
                                    data-valmsg-replace="true"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ucSupervisorEmail">UC Supervisor Email</label>
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="ucSupervisorEmail"
                                    name="ucSupervisorEmail" placeholder="e.g: xxxxx@tarc.edu.my" readonly="readonly"
                                    type="email">
                                <span class="messages"></span>
                                <span class="field-validation-valid text-danger" data-valmsg-for="ucSupervisorEmail"
                                    data-valmsg-replace="true"></span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group ">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <input id="btnUpdate" type="button" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Company Detail</div>


                <form action="/addcompany" autocomplete="on" method="POST" enctype="multipart/form-data">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="control-label col-md-2" for="companyName">Company Name</label>
                            <div class="col-md-10">
                                <div>
                                    <div style="display:inline-block">
                                        <input class="form-control long-textbox text-box single-line" id="companyName"
                                            name="companyName" type="text">
                                    </div>
                                </div>
                                <span class="field-validation-valid text-danger" data-valmsg-for="companyName"
                                    data-valmsg-replace="true"></span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="companyAddress">Address</label>
                            <div class="col-md-10">
                                <textarea class="form-control" cols="20" id="companyAddress" name="companyAddress"
                                    rows="2"></textarea>
                                <span class="field-validation-valid text-danger" data-valmsg-for="companyAddress"
                                    data-valmsg-replace="true"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2" for="allowance">Monthly Allowance</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true"
                                    data-val-number="The field Monthly Allowance must be a number."
                                    data-val-required="The Monthly Allowance field is required." id="allowance"
                                    name="allowance" type="text" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="allowance"
                                    data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="companySupervisor">Com. Supervisor
                                Name</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="companySupervisor"
                                    name="companySupervisor" type="text" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="companySupervisor"
                                    data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="companySupervisorEmail">Com. Supervisor
                                Email</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="companySupervisorEmail"
                                    name="companySupervisorEmail" type="email" />
                                <span class="field-validation-valid text-danger"
                                    data-valmsg-for="companySupervisorEmail" data-valmsg-replace="true"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2" for="attchCompanyAcceptance">Com. Acceptance
                                Form</label>
                            <div class="col-md-10">

                                <input accept=".pdf" id="fUploadCompanyAcceptance" name="attchCompanyAcceptance"
                                    type="file" value="" />
                                <span class="field-validation-valid text-danger"
                                    data-valmsg-for="attchCompanyAcceptance" data-valmsg-replace="true"></span>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-2" for="attchParentAck">Parent Ack. Form</label>
                            <div class="col-md-10">

                                <input accept=".pdf" id="fUploadParentAck" name="attchParentAck" type="file" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="attchParentAck"
                                    data-valmsg-replace="true"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2" for="attchLetterOfIndemnity">Letter of
                                Indemnity</label>
                            <div class="col-md-10">
                                <input accept=".pdf" id="fUploadLetterOfIndemnity" name="attchLetterOfIndemnity"
                                    type="file" value="" />
                                <span class="field-validation-valid text-danger"
                                    data-valmsg-for="attchLetterOfIndemnity" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="attchHiredEvidence">Hired evidence</label>
                            <div class="col-md-10">
                                <input accept=".pdf" id="fUploadHiredEvidence" name="attchHiredEvidence" type="file"
                                    value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="attchHiredEvidence"
                                    data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" name="submit" value="Save And Submit" class="btn btn-success" />
                            </div>
                        </div>

                </form>
            </div>
        </div>
    </div>
    </div>


    <hr />
    <footer>
        <p>&copy; 2023 - TAR UC ITP</p>
    </footer>
    </div>

</body>

</html>